<footer>
    {% if (theme_prev_next_buttons_location == 'bottom' or theme_prev_next_buttons_location == 'both') and (next or prev) %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        {% if next %}
        <a href="{{ next.link|e }}" class="btn btn-neutral float-right" title="{{ next.title|striptags|e }}" accesskey="n" rel="next">{{ _('Next') }} <span class="fa fa-arrow-circle-right"></span></a> {% endif %} {% if prev %}
        <a href="{{ prev.link|e }}" class="btn btn-neutral float-left" title="{{ prev.title|striptags|e }}" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> {{ _('Previous') }}</a> {% endif %}
    </div>
    {% endif %}

    <hr/>
    <ul class="social">
        <li><a href="https://facebook.com/aimms"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/aimms"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/aimms"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/user/AIMMSChannel"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <div class="links">
        <div class="logo"><a href="https://aimms.com"><img src="{{ pathto('_static/AIMMS_logo_H_RGB.png', 1) }}" alt="AIMMS"></a></div>
        <div class="btn"><a href="https://community.aimms.com/">AIMMS COMMUNITY</a></div>
        <div class="btn"><a href="https://documentation.aimms.com/">AIMMS DOCS</a></div>
        <div><a href="https://aimms.com/english/disclaimer/">DISCLAIMER</a></div>
        <div><a href="https://aimms.com/english/privacy-statement/">PRIVACY STATEMENT</a></div>
    </div>
    <div class="copy">© 1989 - 2019 AIMMS B.V.</div>

    {%- block extrafooter %} {% endblock %}

</footer>