{# Import the theme's layout. #} {% extends "!layout.html" %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ydq4pad.css">
<link rel='stylesheet' id='font-awesome-original-css' href='https://techblog.aimms.com/wp-content/plugins/dpArticleShare/css/font-awesome.css?ver=1.3.4' type='text/css' media='all' /> {% block header %} {% if pagename == "ContentIndex" %}

{% endif %} {% endblock %} {% block extrahead %}{% if pagename == "ContentIndex" %}
<meta name="description" content="AIMMS How-To is a support knowledge base for everyone involved in projects that use AIMMS. You'll find help tutorials, best practices, and practical guidance for using AIMMS software."> {% endif %} {% endblock %} {% block sidebartitle %} {% if pagename == "ContentIndex" %}

{% endif %}
<a href="{{ pathto(master_doc) }}"><img src="{{ pathto('_static/AIMMS_logo_H_RGB_rev.png', 1) }}" class="logo" title="AIMMS" alt="AIMMS Help &amp; Support" /></a>

{% include "searchbox.html" %} {% endblock %}


{% block htmltitle %}
    {% if pagename == "ContentIndex" %}
        <title>{{ _('AIMMS How-To &mdash; Help &amp; Support') }}</title>
    {% else %}
        <title>{{ title|striptags|e }} &mdash; AIMMS How-To &mdash; Help &amp; Support</title>
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}

{% block document %} {{ super() }} {% if (("index" in pagename) or ("ContentIndex" in pagename) or ("search" in pagename)) %} {# Do nothing :) I don't know how to do the negation properly in Jinja #} {% else %} {% if Display_3rd_Party_Extensions %}

<h3 class="helpfull">Was this helpful?</h3>

<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="elegant" data-white_label="true" data-show_like_label="false" data-counter_show="false" data-popup_dislike="true" data-popup_html="Thanks for your feedback!<br>You can tell us more on<br><a href= &quot;https://community.aimms.com/search?q={{ title|striptags|e }}&quot; target= &quot;_blank&quot; >AIMMS Community</a>"
    data-share_enabled="false" data-tooltip_enabled="false" data-site_id="5c4b11426fd08b424f7e547c"></span>
<script>
    (function(d, e, s) {
        if (d.getElementById("likebtn_wjs")) return;
        a = d.createElement(e);
        m = d.getElementsByTagName(e)[0];
        a.async = 1;
        a.id = "likebtn_wjs";
        a.src = s;
        m.parentNode.insertBefore(a, m)
    })(document, "script", "//w.likebtn.com/js/w/widget.js");
</script>
<!-- LikeBtn.com END -->

{% endif %}


<a href="https://community.aimms.com/search?q={{ title|striptags|e }}" target="_blank">Give feedback for this article on the AIMMS Community</a>{% endif %} {% endblock %} {% block footer %} {{ super() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1290545-14"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-1290545-14');
</script>


{% if Display_3rd_Party_Extensions %}

<!-- Insided embeddable -->
<script>
    (function(w, d, s) {
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s);
        j.async = true;
        j.src = '//embeddable-widgets-euw1.insided.com/aimms-en.insided-conversational.js';
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script');
</script>

{% endif %} {% endblock %}