{%- if builder != 'singlehtml' %}
<div role="search">
   <!-- <img src="{{ pathto('_static/knowledgecenter.png', 1) }}"> -->
    <h3><a href= "{{ pathto(master_doc) }}">HOW-TO</a></h3>
    <form id="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
    <input type="text" name="q" placeholder="{{ _('Search docs') }}" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form> 
   
</div>
{%- endif %}