.wy-nav-side {
  background: $bkg-base !important;
  font-family: $font-family-alt;
}

.wy-side-nav-search {
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 15px;
    a, a:visited {
      color: #575757;
    }
  }
}

.wy-menu-vertical {
  a {
    color: #909aae;

    &:visited {
      color: #909aae;
    }

    &:hover, &:active {
      color: $brand-primary!important;
    }

    &:hover {
      background-color: #f2f2f2 !important;

      span.toctree-expand {
        color: $brand-primary;
      }
    }
  }

  li {
    &.current {
      background: none;

      > a {
        color: $brand-primary;

        &:hover {
          background: none;
          color: $brand-primary;
        }
      }
    }

    &.toctree-l1 {
      > a {
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }

      &.current {
        > a {
          box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.06);
          border: none;
        }
      }
    }

    &.toctree-l2 {
      &.current {
        > a {
          background: none;
          color: $brand-primary;
        }
      }
    }

    &.toctree-l2 a, &.toctree-l3 a, &.toctree-l4 a {
      color: #7d879a;
      background: none !important;
    }

    &.toctree-l4 a {
      font-size: 12px;
    }
  }
}

/* makes concise tree (line height) */
li.toctree-l2 span.link-wrapper a.reference.internal {
  padding-bottom: 5px;
  padding-top: 5px;
}

.wy-side-nav-search {
  background-color: $bkg-base;

  input[type=text] {
    background-color: $bkg-base;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-alt;
  }

  > a img.logo {
    display: none;
  }

  img {
    height: 100%;
    width: 100%;
    background: none;
    border-radius: 0;
    margin: 0;
  }
}
