//base
$font-family-base:        'Open Sans', sans-serif;
$font-weight-base:        400;
$font-size-base:          16px;
$font-family-alt:         "futura-pt",sans-serif;

$color-base:              #404040;
$brand-primary:           #009dd9;

$bkg-base:                #f5f5f5;

